<div class="container">
    <div class="photo"></div>
    <div class="twodiv">
        <div class="a ac">
            <h3>Reliable Health Insurance Partner for you and your family</h3>
            <br>
            <span><i class="fa-solid fa-shield" style="color: #74C0FC;"></i> 99% claim ratio</span>
            <br><br><br>
            <p>Prioritize your loved ones and secure your future with Apollo's user-friendly premium calculator.
                Estimate insurance premiums seamlessly for transparent and informed financial planning. Trust us for
                peace of mind and a more secure future.</p>
        </div>
        <div class="a ab"></div>
    </div>
    <div class="row">
        <div class="img col-4">
            <div class="img1">
                <h3 id="h3" class="color">STEP 1 :-</h3>
                <br>
                <h4>Show the ID & Health Card</h4>
                <br>
                <p>Fill pre-authorization form & submit to the hospital</p>
            </div>
            <div class="img1">
                <h3 id="h3" class="color">STEP 2 :-</h3>
                <br>
                <h4>Approval from the insurer</h4>
                <!-- <br> -->
                <p>Hospital requests cashless treatment approval</p>
            </div>
            <div class="img1">
                <h3 id="h3" class="color">STEP 3 :-</h3>
                <br>
                <h4>Reviewal of the documents</h4>
                <br>
                <p>Insurer authorizes cashless treatment upon reviewal</p>
            </div>
            <div class="img1">
                <h3 id="h3" class="color">STEP 4 :-</h3>
                <br>
                <h4>Obtain cashless treatment</h4>
                <br>
                <p>Hospital sends the bills to the insurer for settlement</p>
            </div>
        </div>
    </div>
    <span id="enquirenow">
        Enquire Now
    </span>
</div>